

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: lightcoral;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    text-align: center;
}
img{

}

p {
    margin:0;
    padding:0;
    
}

title{
    text-align: center;
}

h2 {
    background-color: lightcoral;
    text-align: center;
}